body { 
    background-image: url("pine.jpg"); 
    background-size: 100%;
    font-family: 'Jua', sans-serif;
    
    
}

header {
    text-align: center;
   

}
main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
a {
    color: violet;
}
.btn {
    background-color: violet;
    border: 1px solid violet;
}
.navbar-brand {
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-size: 250%;
    color: lightgoldenrodyellow;
    
}
#saved-link {
    border: 1px solid #violet;
    background-color: violet;
    color: white;
    border-radius: 2px;
    font-size: .875rem;
    margin-right: 1%;
}
a:hover { 
    background-color: lightgoldenrodyellow;
}

#btn-scraper {
    border: 1px solid violet;
}