body { 
    background-image: url("pine.jpg"); 
    background-size: 100%;
    font-family: 'Jua', sans-serif;
    
    
}
.navbar-brand {
    text-align: right;
    font-family: 'Jua', sans-serif;
    font-size: 250%;
    color: lightgoldenrodyellow;
    
}
header {
    text-align: center;
   

}
main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
a {
    color: violet;
}
.btn {
    background-color: violet;
}